@import url(./__grid/cards__grid.css);

.cards {
    
}

@media screen and (max-width: 930px) {
    .cards {
        max-width: 582px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 590px) {
    .cards {
        max-width: 282px;
        margin: 0 auto;
    }
}