.popup__close-button {
    width: 40.7px;
    height: 40.7px;
    background-color: transparent;
    background-image: url(../../../images/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    transition: opacity 0.4s linear;
    padding: 0;
    align-self: flex-end;
    margin-right: -40.7px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 640px) {
    .popup__close-button {
        width: 35px;
        height: 35px;
        background-size: 35px 35px;
        margin-right: -35px;
    }
}

@media screen and (max-width: 425px) {
    .popup__close-button {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        margin-right: -25px;
    }
}

@media screen and (max-width: 320px) {
    .popup__close-button {
      margin-right: 0;
    }
}