@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/footer/footer.css);

.content {
    margin: 0 auto;
    max-width: 882px;
}


@media screen and (max-width: 930px) {
    .content {

    }
}

@media screen and (max-width: 425px) {
    .content {
        margin: 0 19px;
    }
}